body {
    background-color: rgb(253, 249, 249);
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.read{
    color: #feadbb;
    padding: 5px;
    margin: 10px;
    width: fit-content;
    border-radius: 15%;
}
.read:hover{
    background-color: #f25477;
    color: white;
}

.delete{
    color: #1e1819;
    padding: 5px;
    margin: 10px;
    width: fit-content;
    border-radius: 15%;
}

.delete:hover{
    background-color: #f25477;
    color: white;
}